body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    border-style:ridge;
}

.title {
    font-size: 44px;
    border-style: none;
}

p {
    text-align: justify;
}

img {
    width: 500px;
}

li {
    margin-bottom: 10px;
}